.abh-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    border-top: 2px solid var(--primary-light);
    border-bottom: 2px solid var(--primary-light);
    /* border: 2px solid red; */
}

.abh-powered-by {
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    color: var(--primary-color);
    width: 15vw;
}

.abh-hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
}

.abh-hero{
    font-size: xx-large;
    width: 20vw;
}

.abh-para{
    font-size: large;
    width: 50vw;
}

.abh-buttons{
    display: flex;
    gap: 5rem;
}

.simulation-btn{
    font-size: large;
    text-decoration: none;
    padding: 10px;
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
}

.report-btn{
    font-size: large;
    text-decoration: none;
    padding: 10px;
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
}