.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-dark);
    color: var(--color-white);
    height: 25vh;
}
.uper-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    border-bottom: 1px solid var(--color-gray-light);
    padding : 1vh 5vh 1vh 5vh;
}
.up-footer-1, .up-footer-2, .up-footer-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    width: 15vw;
    height: 100%;
}
.footer-logo{
    width: 10vw;
    height: auto;
}
.developer-names a{
    text-decoration: none;
    color: var(--color-white);
    font-size: var(--font-sm);
}
.developer-names{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    text-align: center;
}
.dev-title{
    font-size: var(--font-2xl);
    font-weight: var(--font-semi-bold);
}
.lower-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--bg-primary);
    height: 20%;
    width: 95%;
    font-size: var(--font-sm);
    color: var(--bg-primary);
}

@media screen and (max-width: 600px) {
    .uper-footer{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 3vh;
    }
    .footer{
        height: max-content;
    }
    .up-footer-1, .up-footer-2, .up-footer-3{
        width: 80vw;
    }
    .footer-logo{
        width: 50vw;
    }
    .lower-footer{
        height: auto;
        padding: 1vh 0;
    }
}