.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-dark);
    color: var(--color-white);
}
.uper-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5vh;;
    border-bottom: 1px solid var(--color-gray-light);
}
.upper-footer-1, .up-footer-2, .up-footer-3{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 20vw;
}
.developer-names a{
    text-decoration: none;
    color: var(--color-white);
    font-size: var(--font-sm);
}
.developer-names{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    text-align: center;
}
.dev-title{
    font-size: var(--font-2xl);
    font-weight: var(--font-semi-bold);
}