.hv-container {
    display: flex;
    flex-direction: column;
    font-size: large;
    align-items: center;
    background-color: var(--primary-light);
    border-top: 8px solid var(--bg-primary);
}

.hv-text {
    
    padding: 20px;
    margin-top: 30px;
}

.hv-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    padding: 50px;
}

.hv-details {
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--bg-primary);

}

.hv-logo {
    background-color: var(--primary-light);
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 3.5vw;
    height: 7vh;
}

.hv-logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.hv-inside-details{
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    margin-left: 40px;
    width: 60vw; 
    text-align: justify
}

/* Mobile view */
@media screen and (max-width: 500px){
    .hv-container{
        display: flex;
        flex-direction: column;
        font-size: small;
    }
    
    .hv-content {
        padding: 20px;
        margin-left: 0vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hv-logo {
        width: 12vw;
        height: 8vh;
        display: flex;
        align-items: center;
    }

    .hv-inside-details{
        width: 60vw; 
    }

    .logo-size{
        display: flex;
        font-size: small;
    }
}