.wv-container {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-md);
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--primary-light);
}

.wv-text h2 {
    font-weight: bold;
}

.wv-text {
    text-align: center;
}

.wv-content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: var(--spacing-md);
    margin-left: 10px;
}

.wv-details {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-primary);
    width: 25vw;
    height: 29vh;
    gap: 10px;
    border-radius: 20px;
    text-align: left;
    padding: var(--spacing-md)
}

.wv-logo{
    width: 3vw;
    background-color: var(--primary-color);
    height: 5vh;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}